.react-marquee {
  white-space: nowrap;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}

.social-icon {
  transition: transform 0.3s ease;
  color: #fff;
}

.social-icon:hover {
  transform: scale(1.5);
  cursor: pointer;
  color: rgb(243, 234, 216);
}



@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media(max-width: 767px) {
  .p_title {
    margin-top: 1.5rem;
  }
}